.nav-link{
    color: unset;
    margin-right: 1rem;
    padding: 0.5rem 0.75rem 0.45rem;
    border-radius: 0.35rem;
    cursor: pointer;
    span{
        margin-left: .3rem;
        font-size: 15px;
        font-weight: 500;
    }
}

.nav-link:hover {
    background-color: #dbdee5 !important;
}
.nav-link.active {
    color: unset;
    background-color: #007bff73;
}
a{
    svg {
        font-size: 1.1rem !important;
    }
}